*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
body, html{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(253, 211, 211, 0.986);
}
.container{
  width: 80%;
  margin: 0 auto;

}
.navbar{
  background-color: rgb(187, 99, 64);
  padding: 1rem 0;
}
.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand{
  color: #00fdfdc2;
  text-shadow: 2px 2px 3px rgba(129, 116, 1, 0.671);
  font-size: 2.1rem;
  font-weight: 700;
  text-decoration: none;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav-link {
  color: #fff;
  text-decoration: none;
  padding: .5rem;
  font-size: 1.2rem;
}
.nav-link:hover{
  color: #00fdfdc2;
  text-shadow: #00fdfdc2  1px 1px 5px ;
  
}

.create-post {
  margin-top: 3rem;
  padding: 2rem ;
  border-radius: .6rem;
  background-color: rgba(247, 247, 247, 0.726);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.377);
  
}


.create-post-header{
  color: rgb(187, 99, 64);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid rgba(0, 0, 0, 0.171);
  border-bottom-style:dotted;
  
}

.post-form{
padding: 1rem;
display: flex;
flex-direction: column;
}
.form-control{
 width: 20vh;
 margin-bottom: 1rem;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 padding: .3rem;
 border-radius: .6rem;
 border: 1px solid rgba(0, 0, 0, 0.185);
}




.create-post textarea{

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 1rem;
  padding: .3rem;
  border-radius: .6rem;
  border: 1px solid rgba(0, 0, 0, 0.185);
}
.btn:hover{
  background-color: rgb(230, 61, 0);
  box-shadow: 2px 2px 5px rgba(105, 30, 0, 0.829);
}
.btn{
  padding: .5rem;
  border: none;
  border-radius: .6rem;
  
  background-color: orangered;
  color: #fff;
  margin-top: 1rem;
  width: 15vh;
  cursor: pointer;

}
.date-picker{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: .3rem;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.185);
}

.date-button{
  display: flex;
}



/*  EVENT VIEW */


.event-view{
  padding-top: 2rem;
}
.event-view-text{
  padding-bottom: 5rem ;
  text-align: center;
}
.event-view-container{

}


.event-card{
  display: flex;
  /* padding: 2rem; */
  list-style: none;
  text-decoration: none;
  color: black;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}


.event-view-grid{
 
  padding: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.397);
  background: rgba(255, 255, 255, 0.486);
  width: 70vh;
  min-height: 70vh;
  margin: auto;

}

.clear-btn{
  height: 30px;
  width: 30px;
  border: 2px solid rgb(119, 0, 0);
  border: none;
  text-align: ;
  box-shadow: 0px 0px 4px .5px black;
  border-radius: 50px;
  background-color: rgb(255, 0, 0);
  color: #fff;
  cursor: pointer;
}
.clear-btn:active{
  box-shadow: none;
}

